* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;  
}

.logo{
    display: flex;
    gap: 500px;
    padding: 40px;
}

.nav-bar {
    display: flex;
    gap: 60px;
    text-align: center;
}

.nav-bar > a {
    color:black;
    text-decoration: none;
    font-weight: bold;
}

.nav-bar > a:hover {
    background-color: hsl(224, 93%, 58%);
    color: white;
    text-decoration: none;
}

#section-one {
    height:300px;
    position: relative;
    padding-top: 20px;
    padding: 40px;
}

#section-one > img {
    float: right;
    height: 300px;
    width: 350px;
    position: relative;
    margin-right: 300px;    
}

#section-one > h1{
    position: relative;
    padding-top: 30px;
}

#section-one > p {
    font-size: small;
    font-weight: 400;
    margin-top: 10px;
}

input{
    height:25px;
    padding: 12px 20px;
    margin-top: 10px;
}

button{
    background-color:  hsl(224, 93%, 58%);
    color: white;
    width: 150px;
    height: 30px;
    font-weight: 200;
    border-radius: 3px;
    cursor: pointer;
    
}


#section-two {
    background-color:  hsl(240, 75%, 98%);
    font-size: smaller;
    padding: 40px;
    margin-top: 80px;
}

.image-two {
    float: right;
    height: 300px;
    width: 350px;
    position: relative;
    margin-right: 300px;
}

#section-two > h1 {
    margin-bottom: 20px;
}

#section-two > p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.arrow-image{
    display: flex;
    text-decoration: underline;
    color: hsl(170, 45%, 43%);
    cursor: pointer;
}

.arrow-image >img {
    height: 20px;
    width: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
}

.arrow-image >p {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
   
}

#quotes {
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(227, 223, 223);
    width: 300px;
    height: 170px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
}

#quotes > p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: small;
}

.quotes-icon {
    height:15px;
    width: 15px;
}
  
.avatar {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    
}

span{
    
    font-weight: bold;
    font-size: 12px;
}

.founder{
    font-size: smaller;
    position: absolute;
    display: inline;
    margin-top: 5px;   
}


#section-three {
    background-color:hsl(238, 22%, 44%);
    color: white;
    padding-left: 40px;
    padding-right: 80px;
    padding-top: 50px;
    padding-bottom: 80px;
    display: flex;
}
    
.access > p {
    margin-top: 20px;
    font-size: small;
    font-weight: 200;
}

.form {
    position: relative;
    display: block;
    margin-left: 200px;
    margin-bottom: 10px; 
}

.form > button {
    margin-top: 10px;
}

#footer-section {
    background-color:hsl(243, 87%, 12%);
    height: 300px;
    color: white;
    padding-left: 40px;
    padding-top: 80px;
    padding-bottom: 80px;
}

#footer-section > img {
    filter: invert(100%);
}

.phone-icon {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

.phone-icon > img {
    margin-right: 10px; 
}

.email-icon {
    display: flex;
}

.email-icon > img {
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

.menu-info {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    
}

#menu-container > a {
    display: block;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#menu-container > a:hover {
    background-color: blue;
}

.socials > img {
    border: 2px solid white;
    border-radius: 50%;
    filter: invert(100%);
    cursor: pointer;
}





